.instagram-feed {
    width: 100%;
    max-width: 750px;
}

.instagram-feed a {
    text-decoration: none;
}

.instagram-feed a:hover {
    text-decoration: underline;
}

.instagram-feed h1 {
    font-family: Palatino, 'Times New Roman', serif;
    font-size: 25px;
    color: #0f0f0f;
    text-align: center;
    text-transform: uppercase;
}

/* Mobile styles */

@media (max-width: 720px) {
    .lightwidget-widget {
        height: 1000px;
    }

    .instagram-feed h1 {
        font-size: 20px;
    }
}