
/* Pattern list */

.patternList {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

/* Pattern */

.pattern {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.pattern:nth-child(even) {
    flex-direction: row-reverse;
}

.pattern-image {
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 400px;
    flex: 1;
    border: 1px solid #888;
    border-radius: 5px;
}

.pattern-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex: 1;
}

.pattern-info h1 {
    color: #0f0f0f;
    font-family: Palatino, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
}

.pattern-info p {
    color: #606060;
    font-family: Baskerville, Garamond, 'Times New Roman', serif;
    font-size: 20px;
}

/* Purchase buttons */

.purchase-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.purchase-button {
    width: fit-content;
    font-family: Baskerville, Garamond, 'Times New Roman', serif;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 10px;
    text-decoration: none;
}

.purchase-button-strikkeland {
    background-color: #fafafa;
    border: 1.5px solid rgb(60, 95, 215);
}

.purchase-button-strikkeland:hover {
    background-color: rgb(60, 95, 215);
    color: white;
}

.purchase-button-ravelry {
    background-color: #fdfdfd;
    border: 1.5px solid rgb(230, 120, 100);
}

.purchase-button-ravelry:hover {
    background-color: rgb(230, 120, 100);
    color: white;
}

/* Mobile styles */

@media (max-width: 1200px) {
    .pattern-image {
        max-height: 350px;
        max-width: 350px;
    }
}

@media (max-width: 860px) {
    .pattern, .pattern:nth-child(even) {
        flex-direction: column;
        align-items: center;
    }

    .pattern-info {
        align-items: center;
    }

    .pattern-info h1 {
        font-size: 26px;
    }

    .pattern-info p {
        font-size: 18px;
    }

    .purchase-buttons {
        justify-content: center;
    }

    .purchase-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}