/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
}

/* Root styles */

#root {
    background-color: #fdfdfd;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd;
}

/* Page header styles */

.page-header {
    padding: 3% 3% 3% 3%;
    display: flex;
}

.page-header-left, .page-header-center, .page-header-right {
    display: flex;
    align-items: center;
}

.page-header-left {
    justify-content: flex-start;
    flex: 1;
}

.page-header-center {
    justify-content: center;
    flex: 2;
}

.page-header-right {
    justify-content: flex-end;
    flex: 1;
}

.page-title {
    font-family: Palatino, 'Times New Roman', serif;
    font-size: 45px;
    line-height: .8;
    color: #0f0f0f;
    text-transform: uppercase;
}

.instagram-icon {
    vertical-align: middle;
}

/* Page content styles */

.page-content {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Page footer styles */

.page-footer {
    padding: 3%;
    font-family: Baskerville, Garamond, 'Times New Roman', serif;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

/* Mobile styles */

@media (max-width: 720px) {

    #root {
        justify-content: space-around;
    }

    .page-header {
        padding: 22px 0;
    }

    .page-header-left, .page-header-right {
        display: none;
    }

    .page-title {
        font-size: 32px;
    }

    .page-content {
        padding: 0 3%;
    }
}